.login-box{
    border: 1px solid black;
    background-color: rgb(254, 253, 251);
    margin: auto;
    height: 40%;
    width: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: 200px;
    margin-top: 50px;

}
.login-box-content{
    margin: auto;
    width: 50%;
    padding: 20px;
    margin-top: 20px;
}
.p-login-box{
    padding-bottom: 0px;
    margin-bottom: 2px;
    font-weight: 700;
}
.login-button {
    background-color: rgb(13, 10, 65);
    color: white;
    height: 36px;
    width: 74px ;
    cursor: pointer;
    border:none;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 40px;
    transition: box-shadow 0.15s;
    border-width: 1px;
    border-style: groove;
    border-color: rgb(13, 10, 65);
    margin-bottom: 8px;


}
.login-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.body-class{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}

.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('template/bg1.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
